<header>
  <nav>
    <h1>JobTrack</h1>
    <ul>
      <a href="/jobs">
        <li>View Jobs</li>
      </a>
      <a href="/jobs/new">
        <li>Add Job</li>
      </a>
      <a href="/logout">
        <li>Log Out</li>
      </a>
    </ul>
  </nav>
</header>