<section class="login-register">
    <h1>Welcome Back!</h1>

    {{#if error}}
        <div class="error"><b>Error:</b> {{error}}</div>
    {{/if}}

    <form method="post" action="/login">
        <label>Email</label>
        <input type="text" name="email" />
        <label>Password</label>
        <input type="password" name="password" />
        <input class="sm" type="submit" value="Log in" />
        <div class="or">or</div>
        <a href="/auth/googlelogin" class="link-button sm">Sign in with Google</a>
    </form>
</section>
<div class="alternate">
    Not a member? <a class="link" href="/register">Sign up</a>
</div>
