<section class="login-register">
    <h1>Register</h1>

    {{#if error}}
        <div class="error"><b>Error:</b> {{error}}</div>
    {{/if}}

    <form method="post" action="/register">
        <label>Email</label>
        <input type="text" name="email" />
        <label>Password</label>
        <input type="password" name="password" />
        <input class="sm" type="submit" value="Sign Up" />
    </form>
</section>
<div class="alternate">
    Already a member? <a class="link" href="/login">Log in</a>
</div>