.job-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.job-show-header {
  grid-column: 1 / span 2;
  background: $maincolor;
  border-radius: 10px;
  box-shadow: 1px 1px 10px $shadow;
  padding: 15px;
  color: $light;
}

.job-show-header > h2 {
  font-size: 1.5em;
}

.job-show-details {
  border-radius: 10px;
  background: $light;
  box-shadow: 1px 1px 10px $shadow;
  grid-column: 1 / span 2;
  overflow: hidden;
}

.job-show-details > h2 {
  background: $maincolor;
  color: $light;
  padding: 15px;
}

.job-show-details-description {
  padding: 15px;
}

.status-outcome {
  grid-column: 1 / span 2;
  display: grid;
  align-content: start;
  grid-gap: 20px;
}

@media screen and (min-width: 900px) {
  .job-show-details {
    grid-column: 1 / span 1; 
  }

  .status-outcome {
    grid-column: 2 / span 1;
  }
}

.job-show-status, .job-show-outcome {
  align-self: start;
  grid-row: span 1;
  border-radius: 10px;
  background: $light;
  box-shadow: 1px 1px 10px $shadow;
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow: hidden;
}

.job-show-status > h2, .job-show-status > h3, .job-show-outcome > h2, .job-show-outcome > h3 {
  padding: 15px;
}

.job-show-status > h2, .job-show-outcome > h2 {
  background: $shadow;
}

.job-show-questions {
  grid-column: 1 / span 2;
  background: $light;
  border-radius: 10px;
  box-shadow: 1px 1px 10px $shadow;
  overflow: hidden;
}

.job-show-questions > h2 {
  background: $maincolor;
  color: $light;
  padding: 15px;
}

.job-show-questions > * + * {
  padding: 0 15px;
  margin-bottom: 15px;
}

.job-show-question {
  font-weight: 700;
  margin-top: 15px;
}

.question-form {
  grid-column: 1 / span 2;
  display: grid;
  border: 0px solid black;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px $shadow;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  background: $light;

  label {
    font-weight: 700;
  }

  input[type=text], textarea {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 0;
    font-family: inherit;
    background: $light;
    box-shadow: inset 1px 1px 3px $shadow;
  }

  textarea {
    resize: none;
    height: 4em;
  }
}