section.new-job {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-gap: 20px;


  select {
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    margin-top: 5px;
  }

  div {
    border-radius: 10px;
    box-shadow: 1px 1px 10px $shadow;
    overflow: hidden;
    padding: 15px;
    background: $light;
    grid-column: 1 / span 2;
  }

  input[type=submit] {
    // background: none;
    grid-column: span 2;
    // padding: 0;


  }

  .new-job-description {
    grid-column: 1 / span 2;
  }
}

@media screen and (min-width: 900px) {
  section.new-job {
    div {
      grid-column: span 1;
    }
  }
}

.new-job-header {
  border-radius: 10px;
  box-shadow: 1px 1px 10px $shadow;
  overflow: hidden;
  padding: 20px;
  font-size: 1.5em;
  background: $maincolor;
  color: $light;
}
