section.landing {
  border: 0px solid black;
  padding: 30px;
  background-color: $medium;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  h1 {
    font-size: 4em;
    font-family: 'Archivo Black', 'IBM Plex Mono', sans-serif;
    line-height: 0.9em;
    font-weight: normal;
    letter-spacing: -4px;

  }

  .landing-description {
    font-size: 1.4em;
    line-height: 1.2em;
    margin: 20px 0;
    letter-spacing: -1.2px;
  }

  .landing-links {
    // justify-content: space-between;
    margin-top: 20px;

    a {
      margin: 10px;
    }
  }
}
@media screen and (min-width: 600px) {
  section.landing {
    grid-template-columns: repeat(12, 1fr);

    h1 {
      grid-column: 1 / span 6;
      grid-row: 1 / span 3;
    }

    .landing-description {
      grid-column: 3 / span 8;
      grid-row: 5 / span 3;
    }

    .landing-links {
      grid-column: 4 / span 9;
      grid-row: 8 / span 2;
    }

  }

}