section.login-register {
  display: grid;
  border: 0px solid black;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  box-shadow: 1px 1px 10px $shadow;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  background: $light;
}

@media screen and (min-width: 600px) {
  section.login-register {
    width: 500px;
  }
}

section.login-register > h1 {
  grid-column: 1 / span 2;
  padding: 20px;
  background: $maincolor;
  color: $light;
}

section.login-register > .error {
  grid-column: 1 / span 2;
  padding: 20px;
}


section.login-register > form {
  padding: 20px;
  grid-column: 1 / span 2;
  display: grid;
  grid-gap: 10px;
}

section.login-register > form > * {
  grid-column: 1 / span 1;
}

section.login-register > form > input[type=submit] {
  margin-top: 10px;
  margin-right: 0;
}


div.or {
  display: table;
  white-space: nowrap;
  text-align: center;
  font-weight: 700;
  color: $shadow;
  &:before, &:after {
    border-top: 1px solid $shadow;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.7em;
    width: 43%;
  }
  &:before { right: -3%; }
  &:after { left: -3%; }
}

.link {
  font-weight: 700;
  text-decoration: none;
}

.alternate {
  text-align: center;
}