@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:600&display=swap');
@import "variables";
@import "nav";
@import "joblistings";
@import "landing";
@import "jobshow";
@import "loginregister";
@import "jobnew";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[data-whatintent='keyboard'] *:focus {
  box-shadow: 0 0 0pt 2pt rgb(163, 25, 255);
  outline: none;
}

[data-whatintent='mouse'] *:focus {
  outline: none;
}

body {
  font-family: 'Karla';
  font-weight: 400;
  line-height: 1.5em;
  /* letter-spacing: -1px; */
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 30px;
  width: 100%;
  margin: 100px auto;
  padding: 0 30px;
  letter-spacing: -0.5px;
  background-color: $medium;
}

@media screen and (min-width: 550px) {
  body {
    width: 80%;
    padding: 0;
  }
}

main.signed_in {
  grid-column: 1 / span 2;
}

@media screen and (min-width: 600px) {
  main.signed_in {
    grid-column: 2 / span 1;
  }
}


main.signed_out {
  grid-column: 1 / span 2;
}

main > * + * {
  margin-top: 1em;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: -2px;
  font-family: "IBM Plex Mono";
  font-weight: 600;

}

h2, h3 {
  font-size: 1em;
  font-weight: 600;
  font-family: "IBM Plex Mono"
}

a {
  color: $maincolor;
}

a:hover {
  text-decoration: none;
  color: #333333;
}


.heading-bar {
  background: $light;
  border-radius: 10px;
  box-shadow: 1px 1px 10px $shadow;
  padding: 15px;
  margin-bottom: 20px;
}

.heading-bar > h1 {
  font-size: 1.5em;
  color: $dark;
}


input[type=text], input[type=password], textarea {
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 0;
  font-family: inherit;
  background: $light;
  box-shadow: inset 1px 1px 2px $shadow;
  width: 100%;
  margin-top: 5px;
}

textarea {
  resize: none;
}

label {
  font-weight: 700;
}

a.link-button, button, input[type=submit] {
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  background: $maincolor;
  border: 2px solid $maincolor;
  color: $light;
  box-shadow: 1px 1px 10px $shadow;
  cursor: pointer;
  text-decoration: none;
  text-align: center;

  &:hover {
    box-shadow: 2px 2px 10px $dark;
    position: relative;
    top: -1px;
    left: -1px;
  }

  &:active {
    box-shadow: none;
    position: relative;
    top: 2px;
    left: 2px;
  }
}

.lg {
  font-size: 1.3em;
}

.sm {
  font-size: 1em;
}

a.secondary, input.secondary {
  background-color: $dark;
  border-color: $dark;
  color: $light;
}

a.danger, input.danger {
  background-color: $danger;
  border-color: $danger;
  color: $light;
}
