<h1>Jobs</h1>

<a href="/jobs/new">Add Job</a>

{{#each jobs}}
    <div>
        <p>Name: {{ this.title }}</p>
    </div>
    <a href="/jobs/{{this._id}}">View Job</a>
    <a href="/jobs/{{this._id}}?_method=DELETE">Delete Job</a>
    <a href="/jobs/{{this._id}}/edit">Edit Job</a>
    <hr />

{{/each}}