<section class="job-list">
{{#each jobs}}
    <div class="job-box">
        <h2>{{ this.company }}</h2>
        <div class="job-details">
            <h3>{{ this.title }}</h3>
            <div>{{ this.description }}</div>
            <a href="/jobs/{{this._id}}">View Details</a>
        </div>
    </div>
{{/each}}
</section>