<section class="landing">
  <h1>Welcome to <span>JobTrack</span></h1>
  <div class="landing-description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
  </div>
  <div class="landing-links">
    <a class="link-button lg" href="/login">Log in</a>
    <a class="link-button lg" href="/register">Sign up</a>
  </div>
</section>